.App{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.movies{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.movie{
  width: 17%;
  margin:0 30px 10px 0;
  box-shadow: 0 0 10px teal;

}
.knownFor{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image{
  width: 100%;
}
.inputComponent{
  width: 50%;
  display: flex;
  margin: 10px;
}
.modalImage{
  width: 20%;
}
.knownForImage{
  width: 50%;

}